.footer {
	background-color: $header_bg_color;
	color: $header_font_color;
	font-size: 12px;
	font-weight: normal;
	border-top: $footer_border;
	box-shadow: 0 50vh 0 50vh #FFF;

	@include mq_for_tablet_up {
		padding-top: 40px;
	}

	&--inner {
		display: flex;
		width: 100%;
		max-width: $max_width;
		margin: 0 auto;

		.title {
			font-weight: bold;
			font-size: 16px;
		}
	}
}