#hours {
	@include mq_for_tablet_up {
		min-width: 280px;
		margin-right: $gutter;
	}
	width: 100%;
	max-width: 420px;
	margin: 0 auto;

    .col {
        flex: 0 0 50%;
        &.align--right {
            text-align: right;
        }
    }
	
	.row {
        flex-direction: row;
	}
	
}