.row {
	margin: $gutter;
	@include mq_for_phone_only {
	.col:not(:first-child) {
		margin-top: $gutter;
	}
}
	&.row-center {
		.col, .col-quarter {
			text-align: center;
		}
	}
}
body {
	position: relative;
	background-color: #EEE;
	font-size: $default_font_size;
}
main {
	&.row {
		max-width: 1080px;
		margin: $gutter auto;
	}
}
a { 
	line-h
	&:hover {
		text-decoration: underline;
	}
}
.hide {
	display: none !important;
}

.show {
	display: block !important;
}
.align {
	&--right {
		@include mq_for_tablet_up {
			text-align: right;
		}
		@include mq_for_phone_only {
			text-align: center;
		}
	}
}