// Base
$max_width: 1024px;
$default_font_weight: 300;
$gutter: 15px;

// Branding
$brand_primary_font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brand_primary_color: #B00;

// Buttons
$button_primary_bg_color: $brand_primary_color;
$button_primary_color: #FFF;
$button_border_radius: 4px;
$button_padding: 10px 12px;
$button_font_size: 14px;

// Logos
$company_logo: url('../../images/company_logo.gif');

// Header
$header_bg_color: #FFF;
$header_font_color: #888;

// Nav
$nav_link_color: #AAA;
$nav_link_color_hover: #FFF;
$nav_link_font_size: 16px;

// Forms
$input_padding: 8px;
$input_border: 1px solid #BBB;
$input_border_radius: 0;
$input_bg_color: #FFF;

// Containers
$container_border: #999 solid 1px;
$container_bg_color: #888;
$container_font_color: #FFF;
$title_bg_color: $brand_primary_color;
$title_font_color: #FFF;