<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>${require('../js/html-variables.js').title}</title>
</head>

<body>
	<header class="header">
		${require('./components/header.html')}
	</header>
	<main class="row">
		${require('./components/main.html')}
	</main>
	<footer class="footer">
		${require('./components/footer.html')}
	</footer>
</body>

</html>