<div class="footer--inner">
    <div class="row row-center">
        <div class="col-quarter">
            <a href="https://www.facebook.com/trikemidstep/"><img src="${require('../../images/FindUs-FB-RGB-BRC-Site-500.svg')}" /></a>
        </div>
        <div class="col-quarter">
            <a href="http://www.trikemidstep.com/index.html" class="btn btn--link">Trike Mid-Step</a>
        </div>
        <div class="col-quarter">
            <a href="https://www.ebay.com/itm/Trike-Mid-Step-Tri-Glide-Harley-Trike-Floorboard-495-00-FREE-Shipping/200970066413?hash=item2ecabfd9ed:g:kakAAOSwwPhWjVn1&vxp=mtr" class="btn btn--link">Trike Mid-Step EBay</a>
        </div>
        <div class="col-quarter">
            <a href="https://www.triketalk.com/forum/forums/377-Trike-Mid-Step" class="btn btn--link">Trike Mid-Step Trike Talk</a>
        </div>
    </div>
</div>