<div class="row footer--inner">
	<div class="col">
		<div class="row title">Trike Mid-Step</div>
		<a href="https://www.facebook.com/trikemidstep/" class="row">Trike Mid-Step Facebook</a>
		<a href="http://www.trikemidstep.com/index.html" class="row">Trike Mid-Step</a>
		<a href="https://www.ebay.com/itm/Trike-Mid-Step-Tri-Glide-Harley-Trike-Floorboard-495-00-FREE-Shipping/200970066413?hash=item2ecabfd9ed:g:kakAAOSwwPhWjVn1&vxp=mtr" class="row">Trike Mid-Step EBay</a>
		<a href="https://www.triketalk.com/forum/forums/377-Trike-Mid-Step" class="row">Trike Mid-Step Trike Talk</a>
	</div>
</div>