<div class="col-third container" id="hours">
		<div class="title row">
			<div class="col">Hours</div>
		</div>
		<div class="row">
			<div class="col-half">Monday</div>
			<div class="col-half align--right">9:00AM – 5:00PM</div>
		</div>
		<div class="row">
			<div class="col-half">Tuesday</div>
			<div class="col-half align--right">9:00AM – 5:00PM</div>
		</div>
		<div class="row">
			<div class="col-half">Wednesday</div>
			<div class="col-half align--right">9:00AM – 5:00PM</div>
		</div>
		<div class="row">
			<div class="col-half">Thursday</div>
			<div class="col-half align--right">9:00AM – 5:00PM</div>
		</div>
		<div class="row">
			<div class="col-half">Friday</div>
			<div class="col-half align--right">9:00AM – 5:00PM</div>
		</div>
		<div class="row">
			<div class="col-half">Saturday</div>
			<div class="col-half align--right">Closed</div>
		</div>
		<div class="row">
			<div class="col-half">Sunday</div>
			<div class="col-half align--right">Closed</div>
		</div>
	</div>